{{#if playing}}
  {{#if winner}}
    <div>
      Player {{winner}} won!
    </div>
  {{/if}}
  {{#if draw}}
    We'll call it a draw.
  {{/if}}
  {{#if desktop}}
    <button {{action 'start'}}>Restart</button>
  {{/if}}
{{else}}
  {{#if desktop}}
    <button {{action 'start'}}>Start</button>
  {{/if}}
{{/if}}
<canvas id="stage" width="380" height="380"></canvas>
